<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VCMMANAGER</title>
    <script type="text/javascript">
    <!--
        function MM_jumpOperation(targ,selObj,restore) {//v3.0
            eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
            if(restore) selObj.selectedIndex=0;
        }
    //-->
    </script>
</head>
<body>
<li>***********vcm manager test***********</li>
<a href="http://127.0.0.1:8000/state/">listoption</a>
<a href="http://127.0.0.1:8000/state/reportstate">reportstate</a>
</body>
</html>