<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <script type="text/javascript">
    <!--
        function MM_jumpOperation(targ,selObj,restore) {//v3.0
            eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
            if(restore) selObj.selectedIndex=0;
        }
    //-->
    </script>
</head>
<body>
<li>***********CMS test***********</li>
<form name="openfile" action={% url 'state:doreport' %} method="POST">
    {% csrf_token %}
    file:<input type="file" name="jsonfile" ><br>
    <textarea name="jsondata" id="json_data" cols="45" rows="5">{{ json_data }}</textarea>
    <input type="submit">
</form>
</body>
</html>